{% extends 'policy/base.html' %}
{% load static %}
{% block body %}
<div style="left:260px;top:180px;position:absolute;">
<h1>Welcome, Find the best premium offer here!</h1>
<a href="{% url 'details' %}"><img src="{% static 'images/continue.png' %}" alt="Cont Image" style="position:absolute;height:250px;top:150px;left: 269px;"></a>
</div>
{% endblock %}
















































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































